<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Graphiti FX Test View"
            icon="icons/sample.gif"
            class="myfxviewpart.views.TestViewPart"
            id="myfxviewpart.views.GFXViewPart">
      </view>
   </extension>

</plugin>
